.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
}

.single-item p {
  text-transform: capitalize;
  word-break: break-word;
}

.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.single-item .btn {
  cursor: pointer;
  color: #fff;
  background: #06b6d4;
  border: transparent;
  border-radius: 0.4rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.single-item .btn:hover {
  background: #0e7490;
}

.single-item .remove-btn {
  background: #222;
}

.single-item .remove-btn:hover {
  background: #900e0e;
}

.completed {
  text-decoration: line-through;
  text-decoration-thickness: 3.35px;
  text-decoration-color: #01bb0a;
}

@media (max-width: 600px) {
  .single-item {
    column-gap: 0.5rem;
  }

  .single-item:first-child {
    margin-top: 15px;
  }

  .single-item .btn {
    padding: 0.375rem 0.5rem;
    font-size: 0.85rem;
  }
}
